*.patch -whitespace
biomed_workbench/modules/builtin/bulk-ribosome-profiling/templates/run_nfcore_riboseq.py whitespace=-blank-at-eof
biomed_workbench/modules/builtin/single-cell-integration-benchmark/templates/run_seurat_v5_integration.R whitespace=-blank-at-eof
biomed_workbench/modules/builtin/single-cell-integration-benchmark/templates/run_sysvi.py whitespace=-blank-at-eof
biomed_workbench/modules/builtin/single-cell-reference-mapping/templates/map_rctd.R whitespace=-blank-at-eof
biomed_workbench/modules/builtin/single-cell-reference-mapping/templates/map_scarches.py whitespace=-blank-at-eof
